<div class="task-edit">
  <div class="task-title">
    <h1>Update Task</h1>
    <div class="links">
      <%= link_to @category do %>
        <i class="fa-solid fa-arrow-left"></i>
      <% end %>
    </div>
  </div>

<%= render 'form', task: @task, url: category_task_path %>

</div>
<% content_for :sidebar do %>
  <% render 'layouts/sidebar', categories: @categories %>
<% end %>