<%= form_with(model: category) do |form| %>
  <%= render 'layouts/error' %>

  <div class="field">
    <%= form.text_field :title, placeholder: "New category title" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
