<div class="categories-index">
   <%= render 'layouts/error' %>
  <h1>Delayed Tasks</h1>
  <div class="tasks">
    <% if @tasks.any? %>
      <%= render 'layouts/task', tasks: @tasks%>
    <% else %>
      <span>No Tasks</span>
    <% end %>
  </div>
</div>
<% content_for :sidebar do %>
  <% render 'layouts/sidebar', categories: @categories %>
<% end %>