<div class="category-edit">
  <div class="category-title">
    <h1>Editing Category</h1>
    <div class="links">
      <%= link_to @category do %>
      <i class="fa-solid fa-arrow-left"></i>
      <% end %>
      <%= link_to @category, method: :delete do %>
      <i class="fa-solid fa-trash"></i>
      <% end %>
    </div>
  </div>
  <%= render 'form', category: @category %>
</div>

