<h1>Today</h1>
<div class="tasks">
  <% if today.any? %>
    <%= render 'layouts/task', tasks: today%>
  <% else %>
    <span>No Tasks</span>
  <% end %>
</div>
<h1>Upcoming</h1>
<div class="tasks">
  <% if upcoming.any? %>
    <%= render 'layouts/task', tasks: upcoming %>
  <% else %>
    <span>No Tasks</span>
  <% end %>
</div>
<h1>Delayed</h1>
<div class="tasks">
  <% if delayed.any? %>
    <%= render 'layouts/task', tasks: delayed %>
  <% else %>
    <span>No Tasks</span>
  <% end %>
</div>
